<header class="d-flex flex-wrap justify-content-center p-3 mb-4 border-bottom">
    <a href="/"
        class="fw-bold d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span style="color: #013f01;" class="fs-4">Eddie's App</span>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'highlights:upload_file' %}">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'flashcards:index' %}">Cards</a>
        </li>
    </ul>
</header>